logs/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.whl
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.coveragexml
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
*.ipynb_checkpoints/
.venv/
venv/
env/
.env
*.pyd
